.title{
  font-family: 'Space Grotesk', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #292929;

  &--secondary{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #292929;
    padding: 48px 20px;

    @media (min-width: 744px) {
      font-size: 40px;
      padding: 120px 72px 56px;
    }

    @media (min-width: 1260px) {
      font-size: 48px;
      padding: 128px 120px 56px;
    }
  }

}
